[Unit]
Description=GPS plugin.
After=network.target waggle-epoch.service rabbitmq-server.service

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/gps/
ExecStart=/usr/lib/waggle/plugin_manager/plugins/gps/gps_plugin.py

Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
