[Unit]
Description=Alphasense OPC-N2 plugin.
After=network.target waggle-epoch.service rabbitmq-server.service

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/alphasense
ExecStart=/usr/lib/waggle/plugin_manager/plugins/alphasense/alphasense_plugin.py

Restart=always
RestartSec=15

[Install]
WantedBy=multi-user.target
