[Unit]
Description=Car and pedestrian detector plugin
After=waggle-platform.target
ConditionPathExists=/root/fs_locked

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/image_detector
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/plugin_manager/plugins/image_detector/car_ped_detector.py

Restart=always
RestartSec=60

[Install]
WantedBy=waggle-platform.target
