[Unit]
Description=Face detection demo.
After=waggle-platform.target

ConditionPathExists=/root/fs_locked

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/facedetection/
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/plugin_manager/plugins/facedetection/facedetection.py

Restart=always
RestartSec=15

[Install]
WantedBy=waggle-platform.target
