[Unit]
Description=Coresense 4.1 plugin.
After=waggle-platform.target
#ConditionPathExists=/etc/waggle/enable-coresense
ConditionPathExists=/root/fs_locked

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/coresense_4
ExecStart=/usr/bin/python3 -u /usr/lib/waggle/plugin_manager/plugins/coresense_4/plugin.py --input-sensor

Restart=always
RestartSec=15

[Install]
WantedBy=waggle-platform.target
