[Unit]
Description=GPS plugin.
After=waggle-platform.target
ConditionPathExists=/dev/gps_module

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/gps/
ExecStart=/usr/lib/waggle/plugin_manager/plugins/gps/gps_plugin.py

Restart=always
RestartSec=15

[Install]
WantedBy=waggle-platform.target
