[Unit]
Description=Alphasense OPC-N2 plugin.
After=waggle-platform.target

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/alphasense
ExecStart=/usr/lib/waggle/plugin_manager/plugins/alphasense/alphasense_plugin.py

Restart=always
RestartSec=15

[Install]
WantedBy=waggle-platform.target
