[Unit]
Description=Face detection demo.
After=waggle-platform.target

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/facedetection/
ExecStart=/usr/lib/waggle/plugin_manager/plugins/facedetection/facedetection.py

Restart=always
RestartSec=15

[Install]
WantedBy=waggle-platform.target
