[Unit]
Description=Coresense 3.1 plugin.
After=waggle-platform.target
ConditionPathExists=/dev/waggle_coresense

[Service]
WorkingDirectory=/usr/lib/waggle/plugin_manager/plugins/coresense_3
ExecStart=/usr/lib/waggle/plugin_manager/plugins/coresense_3/plugin.py

Restart=always
RestartSec=15

[Install]
WantedBy=waggle-platform.target
